*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #0d1117;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    height: 90vh;
    width: 300px;
    background-color: #161b22;
    border: 2px solid #30363d;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}
.display{
    height: 25%;
    background-color: #0a0e14;
    border: 1px solid black;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.expression{
    font-size: 30px;
    color: #8b949e ;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.result{
    color: #58a6ff;
    font-weight: 500;
    flex: 1;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttons{
    border: 1px solid black;
    border-radius: 12px;
    color: #e6edf3;
    background-color: #21262d;
    height: 20px;
    flex: 1;
    margin: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    font-size: 25px;
    border: none;
}
.buttons div{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number,.cancel{
    background-color: #243B53;
}
.decimal{
    background-color: #8b949e;
}
.operator{
    background-color: #39d0d8 ;
}
.first-row{
    margin-right: 5px;
}
.allclear{
    flex: 1;
    background-color: #f85149;
    font-weight: 600;
}
.equal{
    flex: 1;
    background-color: #f0883e;
    color: #1a1300;
}
.last-row{
    margin-left: 5px
}
